h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  color: white;
  padding: 20px;
}

header div {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.recipes, .exercises {
  display: flex;
  justify-content: center;
}

.recipes a, .exercises a {
  text-decoration: none;
}
.recipes a:hover, .exercises a:hover {
  opacity: 0.5;
}

.recipes figure, .exercises figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes figcaption, .exercises figcaption {
  max-width: 160px;
  text-align: center;
}