h1 {
  margin: 0;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
}

.recipes {
  display: flex;
  justify-content: center;
}

.recipes a {
  text-decoration: none;
}
.recipes a:hover {
  opacity: 0.5;
}

.recipes figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes figcaption {
  text-align: center;
}